### original a4 package functions
import(methods, Biobase, xtable)
importFrom(limma, lmFit)
importFrom(limma, eBayes)


#--------
## potential sections to subdivide the package 
# general
# preprocessing
# filtering
# unsupervised exploration
# detecting differential expression
# supervised 
#--------

export(addGeneInfo, probe2gene, a4palette, filterVarInt, tTest, limma2Groups, propDEgenes, histPvalue, histpvalueplotter, propdegenescalculation,
       volcanoPlot, volcanoplotter, lassoClass, lassoReg, pamClass, rfClass, ROCcurve, logReg, probabilitiesPlot, 
       plot1gene, plotCombination2genes, boxPlot, plotComb2Samples, plotCombMultSamples, profilesPlot,
       addQuantilesColors, combineTwoExpressionSet, computeLogRatio,
       plotLogRatio, createExpressionSet, replicates)

exportMethods("spectralMap")
exportMethods("topTable")
exportMethods("volcanoPlot")
exportMethods("histPvalue")
exportMethods("propDEgenes")

S3method(print, topTableGlmnet)
S3method(xtable, topTableGlmnet)
S3method(confusionMatrix, pamClass)
S3method(xtable, pamClassConfusionTable)
S3method(print, topTablePam)
S3method(xtable, topTablePam)
S3method(plot, pamClass)
S3method(print, topTableRfClass)
S3method(xtable, topTableRfClass)
S3method(plot, rfClass)

### ex-annotationTable functions
importFrom(utils, packageDescription)
exportClasses("annotationTable")
exportMethods("xtable")
S3Method(print, xtableAnnotationTable)
export(annotationTable, generateEntrezIdLinks, generateGOIdLinks, print.xtableAnnotationTable)

### ex-jMisc objects
exportClasses("ExpressionSetWithComputation")
