import(methods, Biobase)
importFrom(limma, lmFit)
importFrom(limma, eBayes)
importFrom(a4Core, topTable)
importFrom(utils, packageDescription)

export(probe2gene, a4palette, filterVarInt, tTest, limmaTwoLevels, propDEgenes, histPvalue, histpvalueplotter, propdegenescalculation,
       volcanoPlot, volcanoplotter, lassoReg, logReg, probabilitiesPlot, 
       plot1gene, plotCombination2genes, boxPlot, plotComb2Samples, plotCombMultSamples, profilesPlot,
       addQuantilesColors, combineTwoExpressionSet, computeLogRatio,
       plotLogRatio, createExpressionSet, replicates)

exportClasses("ExpressionSetWithComputation") # ex-jMisc

exportMethods("spectralMap")
exportMethods("topTable")
exportMethods("volcanoPlot")
exportMethods("histPvalue")
exportMethods("propDEgenes")





